body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #5c3b6f;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #5c3b6f;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #35234b;
}

a {
  color: #35234b;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: #5c3b6f;
  text-decoration: underline;
}

p {
  line-height: 2;
}

hr {
  border: dotted #d84c73 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #ea5455;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #ea5455;
  padding: 20px 0 10px;
}
.bro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile-pic {
  height:300px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.web-image {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.app-image {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.web-skill-description {
  clear: left;
}

.app-skill-description {
  clear: right;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Montserrat, sans-serif;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.btn:hover {
	background-color:#eb675e;
}
.btn:active {
	position:relative;
	top:1px;
}

.copyright {
  color: #eb675e;
  font-size: 0.75rem;
  padding: 20px 0;
}
